bazel*
.venv
**/__pycache__/
my_example
tmp
build_package
.ipynb_checkpoints
tmp_*
.cache/
.env
my_venv

# benchmark outputs
profile.*

# C++ binaries
*.so

# Mkdocs build
site/

# Build outputs
build/
dist
setup.py
temporian.egg-info
temporian/proto/core_pb2.py

# MacOS
**/.DS_Store

# Coverage
.coverage
coverage.xml
coverage.json
