black===22.12.0
mkdocs==1.4.2
mkdocstrings==0.20.0
mkdocstrings-python==0.9.0
mkdocs-material==9.1.5
mkdocs-gen-files==0.4.0
mkdocs-literate-nav==0.6.0
mkdocs-section-index==0.3.5
mkdocs-jupyter===0.24.1